<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Finarchitect Api</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Finarchitect</h1>
        <p>Navigate through our authentication system using the links below:</p>
        <ul>
            <li><a href="https://finarchitect.onrender.com/api/auth/register/" target="_blank">Register/Signup</a></li>
            <li><a href="https://finarchitect.onrender.com/api/auth/login/" target="_blank">Login</a></li>
            <li><a href="https://finarchitect.onrender.com/api/auth/logout/" target="_blank">Logout</a></li>
        </ul>
    </div>
</body>
</html>
